$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

// @import 'sass-bootstrap/lib/bootstrap';

body {
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  overflow-y: scroll;
  min-width: 755px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

h1 {
  font-size: 5rem;
  margin-top: 0;
  font-weight: 900;
  font-style: italic;
}

.container {
  min-width: 420px;
}

.header {
  margin: 15px 0 10px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.footer {
    padding-top: 5px;
    margin-top: 10px;
    border-top: 1px solid #ddd;
}

.filters {
  .btn {
    display: block;
    margin: 5px;
    white-space: normal;
  }

  h3:first-child {
    margin-top: 0;
  }
}

.nav-pills > li {
  text-align: center;
  width: 33.33333%;
}

.jumbotron {

  // transition: opacity .2s ease;

  padding: 20px 30px;

  h3 {
    font-size: 2rem;
  }

  height: 700px;
}

.jumbotron.vanish {
  height: 0;
  padding: 0;
  opacity: 0;
}

.precinct-drawer {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(134, 131, 131, 0.44);
  width: 86%;
  margin: 30px 7%;
  z-index: 2000;

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin: 5px;
    font-size: 1.2em;
  }

  #precinctClose {
    float: right;
    margin: 5px;
  }
}


.info-links {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    transition: all 0.2s ease;
  }

  .lead {
    margin-bottom: 5px;

    .jabber {
      font-size: 1.75rem;
      color: #777;
    }
  }

}

.text-muted a {
  color: #bbb;
}


.precinct-info {
  margin: 10px 0;
  padding: 0;
  list-style: none;

  .info-item {
    font-size: 1.25em;
    padding-left: 0;
    margin: 5px 0;
  }

  .label {
    font-size: 1.5rem;
    display: block;
    text-align: left;
    padding: .2em;
  }
}
.filter-list {
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    margin: 0 5px;
  }
}

.btn-year, .btn-violation {
  transition: all 0.2s ease;

  &:hover {
    box-shadow: 1px 1px 6px 0 #C9C5C5;
    background-color: #fff;
    transition: all 0.2s ease;
  }
}

.btn-filter-active {
  background-color: #9089C2;
  color: #fff;

  &:hover {
    background-color: #9089C2;
    color: #fff;
  }
}

.btn-success {

  cursor: default;

  &:hover {
    background-color: #5cb85c;
    box-shadow: none;
  }
}

#btnPrecincts {
  cursor: pointer;
}

.map-wrapper {
  padding: 0;
  margin: 0;
}

#mapKey {

  .x {

    font-size: 1rem;

    path {
      display: none;
    }
  }

  line {
    stroke: #000;
    shape-rendering: crispEdges;
  }


  rect {
    fill-opacity: 0.75;
  }
}



path {
  stroke-line-cap: round;
  stroke-line-join: round;
}

.axis {
  font-size: 1rem;
}

.precinct-shape {
  fill-opacity: 0.75;
  stroke: #ddd;
  stroke-width: 2px;
  cursor: pointer;
}

.violation-month-line {
  stroke: #000;
  stroke-width: 1px;
  fill: transparent;
}

.violation-month-point {
  stroke: #000;
  stroke-width: 0;
  fill: #636363;
}

.precinct-modal {
  border: 1px solid black;
  border-radius: 5px;
  height: 245px;
  width: 550px;
  background-color: #e9faf4;
  position: fixed;
  top: 4%;
  left: 5%;
  z-index: 1000;
  padding-top: 10px;
  cursor: -webkit-grab;

  h3, h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .btn-close {
    float: right;
    position: absolute;
    z-index: 1000;
    right: 0;
    margin-right: 7px;
    margin-top: -5px;
  }

  .precinct-mini-map {
    // border: 1px solid black;
    height: 227px;
    width: 100%;
  }

  .modal-left {
    padding: 0 7px;
  }
}

.highlighted-path {
  fill-opacity: .45;
}


@media screen and (min-width: 768px) {

  #cityMap {
    height: 800px;

    .city-map-key {
      position: absolute;
      z-index: 1;
      height: 30px;
      top: 10px;
    }
  }

  .container .jumbotron {
    margin: 0 auto;
    padding: 20px 50px;

    &.vanish {
      height: 0;
      padding: 0;
      opacity: 0;
    }
  }

  .container .jumbotron h1 {
    font-size: 58px;
    margin-top: 0;
    font-weight: 900;
    font-style: italic;
  }

}

.footer {
  margin-bottom: 20px;
}

